<html>
  <head>
    <title>Project Pluto Mk 2</title>
    <link rel="stylesheet" type="text/css" href="../css/sizecontraints.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="../../node_modules/angular-material/angular-material.min.css">


    <!--jQuery Library-->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/rss-parser/dist/rss-parser.js"></script>
  </head>
  <body ng-app="BlankApp" style="-webkit-app-region: drag" ng-cloak>

    <div ng-controller="ApplicationController" ng-cloak style="bottom: 0 !important; height: 100% !important; overflow: hidden;">
      <div>
        <md-content>
            <md-menu-bar style="padding-right: 0px !important;">
              Project Pluto
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                File
              </button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="exitApplication()">
                    <ng-md-icon icon="highlight_off" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Exit
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                View
              </button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="reloadView()">
                    <ng-md-icon icon="rotate_right" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Reload
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="openDevTools()">
                    <ng-md-icon icon="code" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Toggle Developer Tools
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item ng-if="mobileScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(0)">
                    <ng-md-icon icon="home" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Home
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="desktopScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(0)">
                    <ng-md-icon icon="public" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    All News
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="desktopScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(1)">
                    <ng-md-icon icon="art_track" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    My Feeds
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="mobileScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(1)">
                    <ng-md-icon icon="star_half" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Favorites
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="desktopScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(2)">
                    <ng-md-icon icon="star" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Favorites
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="desktopScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(3)">
                    <ng-md-icon icon="visibility" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Read Later
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeMainTabViewSelectedIndexInDeskopModeAddOne(2)">
                    <ng-md-icon icon="history" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    History
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeMainTabViewSelectedIndexInDeskopModeAddOne(3)">
                    <ng-md-icon icon="apps" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Feed List
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeMainTabViewSelectedIndexInDeskopModeAddOne(4)">
                    <ng-md-icon icon="settings" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Settings
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="setContentToActualSize()">
                    <ng-md-icon icon="add_to_queue" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Actual Size
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="zoomContentViewIn()">
                    <ng-md-icon icon="zoom_in" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Zoom In
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="zoomContentViewOut()">
                    <ng-md-icon icon="zoom_out" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Zoom Out
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="enterFullScreenMode()">
                    <ng-md-icon icon="picture_in_picture" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Toggle Full Screen
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                Favorites
              </button>
              <md-menu-content>
                <md-menu-item ng-if="mobileScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(1)">
                    <ng-md-icon icon="star_half" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Show Favorites
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="desktopScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(2)">
                    <ng-md-icon icon="star" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Show Favorites
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="desktopScreenSizeMode()">
                  <md-button ng-click="changeMainTabViewSelectedIndex(3)">
                    <ng-md-icon icon="visibility" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Show Read Later
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-subheader>Favorites Items</md-subheader>
                <md-menu-item>
                  <md-button disabled="disabled" ng-click="">
                    No Favorites Items
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-subheader>Read Later Items</md-subheader>
                <md-menu-item>
                  <md-button disabled="disabled" ng-click="">
                    No Read Later Items
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                History
              </button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="changeMainTabViewSelectedIndexInDeskopModeAddOne(2)">
                    <ng-md-icon icon="history" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Show History
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-subheader>History Items</md-subheader>
                <md-menu-item>
                  <md-button disabled="disabled" ng-click="">
                    No History Items
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="">
                    <ng-md-icon icon="delete_sweep" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Clear History
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                Window
              </button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="minimizeApplication()">
                    <ng-md-icon icon="remove" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Minimize
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="exitApplication()">
                    <ng-md-icon icon="clear" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Close
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                Help
              </button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="">
                    <ng-md-icon icon="school" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Learn More
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="">
                    <ng-md-icon icon="account_balance" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Documentation
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="">
                    <ng-md-icon icon="group" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Community Descussions
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="">
                    <ng-md-icon icon="youtube_searched_for" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                    Search Issues
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-menu style="float: right;">
              <button ng-click="exitApplication()">
                <ng-md-icon icon="clear" style="fill: #484848; margin-right: 10px; width: 12px; height: 12px;" size="18"></ng-md-icon>
              </button>
            </md-menu>
            <md-menu ng-if="!isFullScreenMode" style="float: right;">
              <button ng-click="maximizeApplication()">
                <ng-md-icon icon="crop_din" style="fill: #484848; margin-right: 10px; width: 12px; height: 12px;" size="18"></ng-md-icon>
              </button>
            </md-menu>
            <md-menu style="float: right;">
              <button ng-click="minimizeApplication()">
                <ng-md-icon icon="remove" style="fill: #484848; margin-right: 10px; width: 12px; height: 12px;" size="18"></ng-md-icon>
              </button>
            </md-menu>
          </md-menu-bar>
          <md-tabs id="MainTabView" md-selected="selectedIndex" md-dynamic-height md-border-bottom>
            <md-tab ng-if="mobileScreenSizeMode()" id="HomeTab" label="Home" hide-gt-md>
              <md-content>
                <!-- SplitView -->
                <section layout="row" flex>
                  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                    <md-toolbar class="md-theme-indigo">
                      <h1 class="md-toolbar-tools">Home</h1>
                    </md-toolbar>
                    <md-content>
                      <md-list>
                        <md-subheader class="md-no-sticky">Home</md-subheader>
                          <md-list-item ng-click="viewHomeSections('All_News')">
                            <ng-md-icon icon="public" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                            <p>All News</p>
                          </md-list-item>
                          <md-list-item ng-click="viewHomeSections('My_Feeds')">
                            <ng-md-icon icon="art_track" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                            <p>My Feeds</p>
                          </md-list-item>
                          <md-divider></md-divider>
                      </md-list>
                    </md-content>
                  </md-sidenav>
                  <md-content ng-if="IsAllNewsHomeViewSelected" id="AllNews_HomeView" flex>
                    <md-toolbar class="md-theme-indigo">
                      <div class="md-toolbar-tools">
                        <h2>
                          <span>All News</span>
                        </h2>
                        <span flex></span>
                      </div>
                    </md-toolbar>
                    <md-content layout-padding>

                    </md-content>
                  </md-content>
                  <md-content ng-if="IsMyFeedsHomeViewSelected" id="MyFeeds_HomeView" flex>
                    <md-toolbar class="md-theme-indigo">
                      <div class="md-toolbar-tools">
                        <h2>
                          <span>My Feeds</span>
                        </h2>
                        <span flex></span>
                      </div>
                    </md-toolbar>
                    <md-content layout-padding>
                    <md-grid-list
                          md-cols="2" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="6"
                          md-row-height-gt-md="1:1" md-row-height="1:1"
                          md-gutter="8px" md-gutter-gt-sm="4px" >

                      <md-grid-tile class="md-whiteframe-3dp" ng-repeat="item in app_feeds_data"
                                    md-colspan-sm="1"
                                    md-colspan-xs="1"
                                    ng-class="item.name">
                        <img ng-src="{{item.icon}}" style="width: 100%; height: 100%;" ng-click="openFeed(item, true)"></img>
                        <md-grid-tile-footer>
                          <div layout="row">
                            <div flex="80">
                              <h3>{{item.name}}</h3>
                            </div>
                            <div flex>
                            <md-button class="md-icon-button" aria-label="Favorite" ng-click="deleteMyFeedItem($event, item)" style="float: right; position: absolute !important; top: 4 !important; right: 0 !important; padding: 0px !important; margin: 0px !important;">
                            <ng-md-icon icon="close" style="fill: white;"></ng-md-icon>
                          </md-button>
                          </div>
                        </div>
                      </md-grid-tile-footer>
                      </md-grid-tile>
                    </md-grid-list>
                  </md-content>
                  </md-content>
                  <md-content ng-if="IsFeed_HomeViewSelected" id="FeedItem_HomeView" flex>
                    <md-content>
                      <section layout="row" flex>
                        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                          <md-toolbar class="md-theme-indigo">
                            <h1 class="md-toolbar-tools">{{rssFeedName}}</h1>
                          </md-toolbar>
                          <md-content>
                            <md-list>
                              <md-list-item class="md-3-line" ng-repeat="item in rssFeedData" ng-click="openFeedItem(item, true)">
                                <img ng-src="{{rssFeedIcon}}" class="md-avatar" alt="" />
                                <div class="md-list-item-text" layout="column">
                                  <h3>{{item.title}}</h3>
                                  <h4>{{item.link}}</h4>
                                  <p style="height: 48px; overflow: hidden;"><span>{{item.content}}</span></p>
                                </div>
                                <md-list-divider></md-list-divider>
                              </md-list-item>
                            </md-list>
                          </md-content>
                        </md-sidenav>
                        <md-content flex>
                          <md-toolbar class="md-theme-indigo">
                            <div class="md-toolbar-tools">
                              <h2>
                                <span>{{currentSelectedFeedItem_HomeView.title}}</span>
                              </h2>
                              <span flex></span>
                              <span flex></span>
                              <md-button class="md-icon-button" aria-label="star_border" style="" ng-click="saveFeedItemToFavorites(true)">
                                <ng-md-icon icon="star_border" style="fill: white;"></ng-md-icon>
                              </md-button>
                              <md-button class="md-icon-button" aria-label="visibility" style="" ng-click="saveFeedItemToReadLater(true)">
                                <ng-md-icon icon="visibility" style="fill: white;"></ng-md-icon>
                              </md-button>
                            </div>
                          </md-toolbar>
                          <md-content id="ArticleView" style="overflow-y: auto;">
                            <div id="ArticleViewer_MyFeedsView" class="md-whiteframe-5dp" style="background-color: white; margin: auto; width: 80%; object-fit: contain;" ng-bind-html="bodytext_myfeedshomeview" layout-padding>
                            </div>
                        </md-content>
                        </md-content>
                      </section>
                    </md-content>
                  </md-content>
                </section>
              </md-content>
            </md-tab>
            <!--All News Tab-->
            <md-tab ng-if="desktopScreenSizeMode()" id="AllNewsTab" label="All News">
              <md-content>
                <md-toolbar class="md-theme-indigo">
                  <div class="md-toolbar-tools">
                    <h2>
                      <span>All News</span>
                    </h2>
                    <span flex></span>
                  </div>
                </md-toolbar>
                <h1 class="md-display-2">All News</h1>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
              </md-content>
            </md-tab>
            <!--My Feeds Tab-->
            <md-tab ng-if="desktopScreenSizeMode()" label="My Feeds">
              <md-content>
                <md-content ng-if="IsMyFeedsSelected">
                  <md-toolbar class="md-theme-indigo">
                    <div class="md-toolbar-tools">
                      <h2>
                        <span>My Feeds</span>
                      </h2>
                      <span flex></span>
                      <md-button class="md-icon-button" aria-label="Favorite">
                        <ng-md-icon icon="create" style="fill: white; margin-right: 10px;"></ng-md-icon>
                      </md-button>
                    </div>
                  </md-toolbar>
                  <md-content layout-padding>
                    <md-grid-list
                          md-cols="2" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="6"
                          md-row-height-gt-md="1:1" md-row-height="1:1"
                          md-gutter="8px" md-gutter-gt-sm="4px" >

                      <md-grid-tile class="md-whiteframe-3dp" ng-repeat="item in app_feeds_data"
                                    md-colspan-sm="1"
                                    md-colspan-xs="1"
                                    ng-class="item.name">
                        <img ng-src="{{item.icon}}" style="width: 100%; height: 100%;" ng-click="openFeed(item, false)"></img>
                        <md-grid-tile-footer>
                          <div layout="row">
                            <div flex="80">
                              <h3>{{item.name}}</h3>
                            </div>
                            <div flex>
                            <md-button class="md-icon-button" aria-label="Favorite" ng-click="deleteMyFeedItem($event, item)" style="float: right; position: absolute !important; top: 4 !important; right: 0 !important; padding: 0px !important; margin: 0px !important;">
                            <ng-md-icon icon="close" style="fill: white;"></ng-md-icon>
                          </md-button>
                          </div>
                        </div>
                      </md-grid-tile-footer>
                      </md-grid-tile>
                  </md-content>
                </md-content>
                <md-content ng-if="IsFeed_MyFeedsViewSelected" id="FeedItem_HomeView" flex>
                  <md-content>
                    <section layout="row" flex>
                      <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                        <md-toolbar class="md-theme-indigo">
                          <div layout="row">
                            <div flex="5">
                            <md-button class="md-icon-button" aria-label="Favorite" style="top: 13;" ng-click="backToMyFeedsView()">
                              <ng-md-icon icon="navigate_before" style="fill: white; margin-right: 10px;"></ng-md-icon>
                            </md-button>
                            </div>
                            <span flex></span>
                            <div flex="90">
                              <span><h1 class="md-toolbar-tools">{{rssFeedName}}</h1></span>
                            </div>
                          </div>
                        </md-toolbar>
                        <md-content flex>
                          <md-list id="FeedTableView">
                            <md-list-item class="md-3-line" ng-repeat="item in rssFeedData" ng-click="openFeedItem(item, false)">
                              <img ng-src="{{rssFeedIcon}}" class="md-avatar" alt="" />
                              <div class="md-list-item-text" layout="column">
                                <h3>{{item.title}}</h3>
                                <h4>{{item.link}}</h4>
                                <p style="height: 48px; overflow: hidden;"><span>{{item.content}}</span></p>
                              </div>
                              <md-list-divider></md-list-divider>
                            </md-list-item>
                          </md-list>
                        </md-content>
                      </md-sidenav>
                      <md-content flex>
                        <md-toolbar class="md-theme-indigo">
                          <div class="md-toolbar-tools">
                            <h2>
                              <span>{{currentSelectedFeedItem_MyFeedsView.title}}</span>
                            </h2>
                            <span flex></span>
                            <md-button class="md-icon-button" aria-label="star_border" style="" ng-click="saveFeedItemToFavorites(false)">
                              <ng-md-icon icon="star_border" style="fill: white;"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="visibility" style="" ng-click="saveFeedItemToReadLater(false)">
                              <ng-md-icon icon="visibility" style="fill: white;"></ng-md-icon>
                            </md-button>
                          </div>
                        </md-toolbar>
                        <md-content id="ArticleView" style="" flex>
                          <div>
                            <style scoped>
                              h1 { color: FireBrick;   }
                              p  { color: SaddleBrown; }
                            </style>
                            <span id="ArticleViewer_MyFeedsView" class="md-whiteframe-5dp" style="background-color: white; margin: auto; width: 80%; object-fit: contain;" ng-bind-html="bodytext_myfeedsview" layout-padding>
                            </span>
                          </div>
                      </md-content>
                      </md-content>
                    </section>
                  </md-content>
                </md-content>
              </md-content>
            </md-tab>
            <!--Favorites Tab-->
            <md-tab ng-if="mobileScreenSizeMode()" id="FavoritesTab" label="Favorites">
              <md-content>
                <!-- SplitView -->
                <section layout="row" flex>
                <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                  <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Favorites</h1>
                  </md-toolbar>
                  <md-content>
                    <md-list flex>
                      <md-subheader class="md-no-sticky">Favorites</md-subheader>
                        <md-list-item ng-click="viewFavoritesSections('Favorites')">
                          <ng-md-icon icon="star" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                          <p>Favorites</p>
                        </md-list-item>
                        <md-list-item ng-click="viewFavoritesSections('Read_Later')">
                          <ng-md-icon icon="visibility" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                          <p>Read Later</p>
                        </md-list-item>
                    </md-list>
                  </md-content>
                </md-sidenav>
                <md-content ng-if="IsFavoritesSelected" id="Favorites_FavoritesView" flex>
                  <md-content>
                    <section layout="row" flex>
                      <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                        <md-toolbar class="md-theme-indigo">
                          <div layout="row">
                            <div flex="90">
                              <span><h1 class="md-toolbar-tools">Favorites</h1></span>
                            </div>
                            <span flex></span>
                          </div>
                        </md-toolbar>
                        <md-content flex>
                          <md-list id="FeedTableView">
                            <md-list-item class="md-3-line" ng-repeat="item in app_favorites_data" ng-click="openFavoritesItem(item, true)">
                              <img ng-src="{{item.icon}}" class="md-avatar" alt="" />
                              <div class="md-list-item-text" layout="column">
                                <h3>{{item.title}}</h3>
                                <h4>{{item.link}}</h4>
                                <p style="height: 48px; overflow: hidden;"><span>{{item.content}}</span></p>
                              </div>
                              <md-list-divider></md-list-divider>
                            </md-list-item>
                          </md-list>
                        </md-content>
                      </md-sidenav>
                      <md-content flex>
                        <md-toolbar class="md-theme-indigo">
                          <div class="md-toolbar-tools">
                            <h2>
                              <span>{{currentSelectedFavorites_FavSplitView.title}}</span>
                            </h2>
                            <span flex></span>
                            <md-button class="md-icon-button" aria-label="visibility" style="" ng-click="deleteFavoritesItemFromSPVFavoritesView()">
                              <ng-md-icon icon="delete" style="fill: white;"></ng-md-icon>
                            </md-button>
                          </div>
                        </md-toolbar>
                        <md-content id="ArticleView" style="overflow-y: auto;" flex>
                          <div id="ArticleViewer_FavoritesView" class="md-whiteframe-5dp" style="background-color: white; margin: auto; width: 80%; object-fit: contain;" ng-bind-html="bodytext_favoritesview" layout-padding>
                          </div>
                      </md-content>
                      </md-content>
                    </section>
                  </md-content>
                </md-content>
                <md-content ng-if="!IsFavoritesSelected" id="ReadLater_FavoritesView" flex>
                  <md-content>
                    <section layout="row" flex>
                      <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                        <md-toolbar class="md-theme-indigo">
                          <div layout="row">
                            <div flex="90">
                              <span><h1 class="md-toolbar-tools">Read Later</h1></span>
                            </div>
                            <span flex></span>
                          </div>
                        </md-toolbar>
                        <md-content flex>
                          <md-list id="FeedTableView">
                            <md-list-item class="md-3-line" ng-repeat="item in app_readlater_data" ng-click="openReadLaterItem(item, true)">
                              <img ng-src="{{item.icon}}" class="md-avatar" alt="" />
                              <div class="md-list-item-text" layout="column">
                                <h3>{{item.title}}</h3>
                                <h4>{{item.link}}</h4>
                                <p style="height: 48px; overflow: hidden;"><span>{{item.content}}</span></p>
                              </div>
                              <md-list-divider></md-list-divider>
                            </md-list-item>
                          </md-list>
                        </md-content>
                      </md-sidenav>
                      <md-content flex>
                        <md-toolbar class="md-theme-indigo">
                          <div class="md-toolbar-tools">
                            <h2>
                              <span>{{currentSelectedReadLater_FavSplitView.title}}</span>
                            </h2>
                            <span flex></span>
                            <md-button class="md-icon-button" aria-label="star_border" style="" ng-click="addToFavoritesFromSPVReadLaterView()">
                              <ng-md-icon icon="star_border" style="fill: white;"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="visibility" style="" ng-click="deleteReadLaterItemFromSPVReadLaterView()">
                              <ng-md-icon icon="delete" style="fill: white;"></ng-md-icon>
                            </md-button>
                          </div>
                        </md-toolbar>
                        <md-content id="ArticleView" style="" flex>
                          <div id="ArticleViewer_ReadLaterView" class="md-whiteframe-5dp" style="background-color: white; margin: auto; width: 80%; object-fit: contain;" ng-bind-html="bodytext_readlaterview" layout-padding>
                          </div>
                      </md-content>
                      </md-content>
                    </section>
                  </md-content>
                </md-content>
                </section>
              </md-content>
            </md-tab>
            <!--Favorites Standalone Tab-->
            <md-tab ng-if="desktopScreenSizeMode()" id="FavoritesStandaloneTab" label="Favorites">
              <md-content>
                <section layout="row" flex>
                  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                    <md-toolbar class="md-theme-indigo">
                      <div layout="row">
                        <div flex="90">
                          <span><h1 class="md-toolbar-tools">Favorites</h1></span>
                        </div>
                        <span flex></span>
                      </div>
                    </md-toolbar>
                    <md-content flex>
                      <md-list id="FeedTableView">
                        <md-list-item class="md-3-line" ng-repeat="item in app_favorites_data" ng-click="openFavoritesItem(item, false)">
                          <img ng-src="{{item.icon}}" class="md-avatar" alt="" />
                          <div class="md-list-item-text" layout="column">
                            <h3>{{item.title}}</h3>
                            <h4>{{item.link}}</h4>
                            <p style="height: 48px; overflow: hidden;"><span>{{item.content}}</span></p>
                          </div>
                          <md-list-divider></md-list-divider>
                        </md-list-item>
                      </md-list>
                    </md-content>
                  </md-sidenav>
                  <md-content flex>
                    <md-toolbar class="md-theme-indigo">
                      <div class="md-toolbar-tools">
                        <h2>
                          <span>{{currentSelectedFavorites_FavoritesView.title}}</span>
                        </h2>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="visibility" style="" ng-click="deleteFavoritesItemFromFavoritesView()">
                          <ng-md-icon icon="delete" style="fill: white;"></ng-md-icon>
                        </md-button>
                      </div>
                    </md-toolbar>
                    <md-content id="ArticleView" style="" flex>
                      <div id="ArticleViewer_FavoritesView" class="md-whiteframe-5dp" style="background-color: white; margin: auto; width: 80%; object-fit: contain;" ng-bind-html="bodytext_favoritesview" layout-padding>
                      </div>
                  </md-content>
                  </md-content>
                </section>
              </md-content>
            </md-tab>
            <!--Read Later Tab-->
            <md-tab ng-if="desktopScreenSizeMode()" id="ReadLaterTab" label="Read Later">
              <md-content>
                <section layout="row" flex>
                  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                    <md-toolbar class="md-theme-indigo">
                      <div layout="row">
                        <div flex="90">
                          <span><h1 class="md-toolbar-tools">Read Later</h1></span>
                        </div>
                        <span flex></span>
                      </div>
                    </md-toolbar>
                    <md-content flex>
                      <md-list id="FeedTableView">
                        <md-list-item class="md-3-line" ng-repeat="item in app_readlater_data" ng-click="openReadLaterItem(item, false)">
                          <img ng-src="{{item.icon}}" class="md-avatar" alt="" />
                          <div class="md-list-item-text" layout="column">
                            <h3>{{item.title}}</h3>
                            <h4>{{item.link}}</h4>
                            <p style="height: 48px; overflow: hidden;"><span>{{item.content}}</span></p>
                          </div>
                          <md-list-divider></md-list-divider>
                        </md-list-item>
                      </md-list>
                    </md-content>
                  </md-sidenav>
                  <md-content flex>
                    <md-toolbar class="md-theme-indigo">
                      <div class="md-toolbar-tools">
                        <h2>
                          <span>{{currentSelectedReadLater_ReadLaterView.title}}</span>
                        </h2>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="star_border" style="" ng-click="addToFavoritesFromReadLaterView()">
                          <ng-md-icon icon="star_border" style="fill: white;"></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="visibility" style="" ng-click="deleteReadLaterItemFromReadLaterView()">
                          <ng-md-icon icon="delete" style="fill: white;"></ng-md-icon>
                        </md-button>
                      </div>
                    </md-toolbar>
                    <md-content id="ArticleView" style="" flex>
                      <div id="ArticleViewer_MyFeedsView" class="md-whiteframe-5dp" style="background-color: white; margin: auto; width: 80%; object-fit: contain;" ng-bind-html="bodytext_readlaterview" layout-padding>
                      </div>
                  </md-content>
                  </md-content>
                </section>
              </md-content>
            </md-tab>
            <!--History Tab-->
            <md-tab id="HistoryTab" label="History">
              <md-content>
                <section layout="row" flex>
                  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="0" md-is-locked-open="true" style="bottom: 0 !important; height: 100% !important;">
                    <md-toolbar class="md-theme-indigo">
                      <div layout="row">
                        <div flex="90">
                          <span><h1 class="md-toolbar-tools">History</h1></span>
                        </div>
                        <span flex></span>
                      </div>
                    </md-toolbar>
                    <md-content flex>
                      <md-list id="FeedTableView">
                        <md-list-item class="md-3-line" ng-repeat="item in app_history_data" ng-click="openHistoryItem(item)">
                          <img ng-src="{{item.icon}}" class="md-avatar" alt="" />
                          <div class="md-list-item-text" layout="column">
                            <h3>{{item.title}}</h3>
                            <h4>{{item.link}}</h4>
                            <p style="height: 48px; overflow: hidden;"><span>{{item.content}}</span></p>
                          </div>
                          <md-list-divider></md-list-divider>
                        </md-list-item>
                      </md-list>
                    </md-content>
                  </md-sidenav>
                  <md-content flex>
                    <md-toolbar class="md-theme-indigo">
                      <div class="md-toolbar-tools">
                        <h2>
                          <span>{{currentSelectedHistory_HistoryView.title}}</span>
                        </h2>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="star_border" style="" ng-click="addToFavoritesFromHistoryView()">
                          <ng-md-icon icon="star_border" style="fill: white;"></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="visibility" style="" ng-click="addToReadLaterFromHistoryView()">
                          <ng-md-icon icon="visibility" style="fill: white;"></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="visibility" style="" ng-click="deleteHistoryItemFromHistoryView()">
                          <ng-md-icon icon="delete" style="fill: white;"></ng-md-icon>
                        </md-button>
                      </div>
                    </md-toolbar>
                    <md-content id="ArticleView" style="" flex>
                      <div id="ArticleViewer_HistoryView" class="md-whiteframe-5dp" style="background-color: white; margin: auto; width: 80%; object-fit: contain;" ng-bind-html="bodytext_historyview" layout-padding>
                      </div>
                  </md-content>
                  </md-content>
                </section>
              </md-content>
            </md-tab>
            <md-tab id="FeedListTab" label="Feed List" md-dynamic-height md-border-bottom>
              <div>
                <md-toolbar class="md-theme-indigo">
                  <div class="md-toolbar-tools">
                    <h2>
                      <span>Feed List</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="toggleAddCustomFeed()">
                      <ng-md-icon icon="add" style="fill: white; margin-right: 10px;"></ng-md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <md-content style="overflow-y: scroll" layout-padding>
                  <md-grid-list
                        md-cols="2" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="6"
                        md-row-height-gt-md="1:1" md-row-height="1:1"
                        md-gutter="8px" md-gutter-gt-sm="4px" >

                    <md-grid-tile class="md-whiteframe-3dp" ng-repeat="item in newsfeeds"
                                  md-colspan-sm="1"
                                  md-colspan-xs="1"
                                  ng-class="item.name"
                                  ng-click="toggleAddFeed(item)" >
                      <img ng-src="{{item.icon}}" style="width: 100%; height: 100%;"></img>
                      <md-grid-tile-footer><h3>{{item.name}}</h3></md-grid-tile-footer>
                    </md-grid-tile>
                  </md-grid-list>
                </md-content>
                <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="rightsidenav_addcustomfeed" style="width: 331px;">
                  <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Add Custom Feed</h1>
                  </md-toolbar>
                  <div style="height: 64% !important;">
                    <md-content style="display: block; overflow-y: auto; overflow-x: none;" layout-padding flex>
                      <form style="height: 100%; padding-bottom: 0px; margin-bottom: 0px;">
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Name</label>
                          <input type="text" id="testInput" ng-model="addcustomfeedItem.name">
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Region</label>
                          <input type="text" id="testInput" ng-model="addcustomfeedItem.region">
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Category</label>
                          <input type="text" id="testInput" ng-model="addcustomfeedItem.category">
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Website</label>
                          <input type="text" id="testInput" ng-model="addcustomfeedItem.websiteUrl">
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Url</label>
                          <input type="text" id="testInput" ng-model="addcustomfeedItem.feedUrl">
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Icon</label>
                          <input type="text" id="testInput" ng-model="addcustomfeedItem.icon">
                        </md-input-container>
                      </form>
                    </md-content>
                  </div>
                  <md-content style="display: block; bottom: 0; position: fixed; margin-bottom: 5px;">
                    <md-button style="Display: inline-block; padding-right: 0px; margin-right: 0px;" class="md-accent" ng-click="toggleAddCustomFeed()">
                      cancel
                    </md-button>
                    <md-button style="Display: inline-block; padding-right: 0px; margin-right: 0px;" class="md-warn" ng-click="requestFeed($event)">
                      Request Feed
                    </md-button>
                    <md-button style="Display: inline-block;" class="md-primary" ng-click="addCustomFeedToLocalDatabase(addfeedItem)">
                      Save
                    </md-button>
                  </md-content>
                </md-sidenav>

                <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="rightsidenav_addfeed" style="width: 335px;">
                  <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Add Feed</h1>
                  </md-toolbar>
                  <div style="height: 64% !important;">
                    <md-content style="display: block; overflow-y: auto; overflow-x: none;" layout-padding>
                      <form style="height: 100%; padding-bottom: 0px; margin-bottom: 0px;">
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Name</label>
                          <input type="text" id="testInput" ng-model="addfeedItem.name">
                        </md-input-container>
                        <md-input-container style="width: 100%;" disabled>
                          <label for="testInput">Feed Region</label>
                          <input type="text" id="testInput" ng-model="addfeedItem.region" disabled>
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Category</label>
                          <input type="text" id="testInput" ng-model="addfeedItem.category" disabled>
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Website</label>
                          <input type="text" id="testInput" ng-model="addfeedItem.websiteUrl" disabled>
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Feed Url</label>
                          <input type="text" id="testInput" ng-model="addfeedItem.feedUrl" disabled>
                        </md-input-container>
                        <md-input-container style="width: 100%;">
                          <label for="testInput">Feed Icon</label>
                          <input type="text" id="testInput" ng-model="addfeedItem.relicon" disabled>
                        </md-input-container>
                      </form>
                    </md-content>
                  </div>
                  <md-content style="bottom: 5; position: absolute; margin-bottom: 10px;">
                    <md-button style="Display: inline-block; padding-right: 0px; margin-right: 0px;" class="md-accent" ng-click="toggleAddFeed(item)">
                      cancel
                    </md-button>
                    <md-button style="Display: inline-block;" class="md-primary" ng-click="addFeedToLocalDatabase(addfeedItem)">
                      Save
                    </md-button>
                  </md-content>
                </md-sidenav>
              </div>
            </md-tab>
            <md-tab id="SettingsTab" label="Settings">
              <md-content>
                <md-toolbar class="md-theme-indigo">
                  <div class="md-toolbar-tools">
                    <h2>
                      <span>Settings</span>
                    </h2>
                    <span flex></span>
                  </div>
                </md-toolbar>
                <md-list>
                  <md-subheader class="md-no-sticky">General</md-subheader>
                    <md-list-item ng-click="">
                      <ng-md-icon icon="star" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                      <p>Favorites</p>
                    </md-list-item>
                    <md-list-item ng-click="">
                      <ng-md-icon icon="visibility" style="fill: #484848; margin-right: 10px;"></ng-md-icon>
                      <p>Read Later</p>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="../../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../../node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="../../node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="../../node_modules/angular-sanitize/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="../../node_modules/angular-material/angular-material.min.js"></script>
    <script src="../../node_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="../../node_modules/svg-morpheus/source/js/svg-morpheus.js"></script>

    <script src="../js/index.js"></script>

    <!-- Your application bootstrap  -->


    <!-- Angular Material Library -->
    <script src="../js/applicationcontroller.js"></script>

  </body>
</html>
