.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white;
}

button, md-menu, md-tab, md-list, md-list-item, md-tabs {
  -webkit-app-region: no-drag;
}

md-tab {
  height: 100% !important;
}

md-menu {
  margin-top: 3px;
}

md-grid-list {
  padding-bottom: 0px !important;
  height: calc(100% - 170px) !important;
}
md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.75) !important;
}

#ArticleView {
  background-color: #323232;
}

#ArticleView /*, #FeedListGridView, #MyFeedsGridView*/ {
  overflow-y: auto;
}

#ArticleView, #FeedTableView /*, #FeedListGridView, #MyFeedsGridView*/ {
  height: calc(100% - 155px) !important;
}

#ArticleView img {
  width: 100%;
}

#ArticleView a {
  pointer-events: none;
  cursor: default;
  color:black;
  font-style: normal;
  text-decoration: none;
}

#ArticleView p, #ArticleView h1 {
  text-align: center;
}
